@import "https://fonts.googleapis.com/css?family=Black+Ops+One";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import './components/home/home.css';
@import './components/stages/world.css';
@import './components/screen/screen.css';
@import './components/users/sign.css';
*{

  font-family: 'Black Ops One', cursive;
}